@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url('/images/bg.svg');

}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* card CSS */
.currencycard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
    border: 2px solid black;
    border-radius: 9px;


}

.listofcurrencies{
    display: flex;
    flex-direction: row;
}
img{
  height: 100%;
  width:100%;
}

.currencyImage{

    display: flex;
    object-fit: cover;
    width:2rem;
    height: 2rem;
}

